################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/VSPAYROLL/config
/VSPAYROLL/bin
/VSPAYROLL/obj/Debug
